{% extends "block.html.twig" %}

{% block content %}
  <header class="container is-widescreen brand-header">
    <div class="columns">
      {% if site_logo %}
        <div class="column is-narrow">
          <a href="http://www.hcpss.org" title="{{ 'HCPSS Home'|t }}" class="logo">
            <img class="hcpss-logo" src="{{ site_logo }}" alt="{{ 'Home'|t }}">
          </a>
        </div>
      {% endif %}

      <div class="column is-size-1">
        <a href="http://www.hcpss.org" title="{{ 'HCPSS Home'|t }}" class="org-title">HCPSS</a>

        {% if site_name %}
          <span class="title-seperator">/</span>
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
        {% endif %}


        {% if site_slogan %}
          <br><span class="slogan">{{ site_slogan }}</span>
        {% endif %}
      </div>
    </div>
  </header>

  {% block secondary_nav %}
    {% if site_search %}
      <nav>
        <ul>
          <li><a href="/search"><i class="fa fa-search" aria-hidden="true"></i> Search</a></li>
        </ul>
      </nav>
    {% endif %}
  {% endblock %}
{% endblock %}
