{% extends "block.html.twig" %}

{% block content %}
  <p>
    {% if site_logo %}
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="logo">
        <img class="hcpss-logo" src="{{ site_logo }}" alt="{{ 'Home'|t }}">
      </a> 
    {% endif %}
    
    HCPSS
    
    {% if site_name %}
      <span class="news-navigation--separator">/</span>
      <span class="news-navigation--section">{{ site_name }}</span>
    {% endif %}
    
    {% if site_slogan %}
      <span class="news-navigation--separator">/</span>
      <div class="slogan">{{ site_slogan }}</div>
    {% endif %}
  </p>
  
  {% block secondary_nav %}
    <nav>
      <ul>
        <li><a href="/search"><i class="fa fa-search" aria-hidden="true"></i> Search</a></li>
      </ul>
    </nav>
  {% endblock %}
{% endblock %}
