<div class="{{ page_attributes.class | join(' ') }}" role="document">

  {%  if page.header %}
    <header role="banner" class="news-navigation">
      {{ page.header }}
    </header>
  {% endif %}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {{ page.primary_menu }}

    {% if page.breadcrumb %}
      <div class="breadcrumb">
        {{ page.breadcrumb }}
      </div><!-- /.breadcrumb -->
    {% endif %}

    {% if page.highlighted %}
      <div class="highlighted">
        {{ page.highlighted }}
      </div><!-- /.highlighted -->
    {% endif %}

    {% if page.sidebar_first %}
      <aside class="sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    <section id="content">
      {{ page.content }}
    </section>{# /.layout-content #}

    {% if page.sidebar_second %}
      <aside class="sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}
  </main>
  
  <footer>
<div class="footer-wrap contents">
<div class="footer-address col-left">
<address>
  <strong>Howard County Public School System</strong><br>
  10910 Clarksville Pike<br>
  Ellicott City, MD 21042<br>
  Main Phone: (410) 313-6600<br>
</address>
<p><a href="https://directory.hcpss.org/">Staff Directory</a> | <a href="https://www.hcpss.org/inclusivity/">Inclusivity &amp; Accessibility</a></p>
</div>

<ul class="footer-social-icons col-right">
<li class="foot-social foot-social-tw">
  <a href="https://twitter.com/hcpss/" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
</li>

<li class="foot-social foot-social-fb">
  <a href="https://www.facebook.com/hocoschools/" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
</li>

<li class="foot-social foot-social-ig">
  <a href="https://instagram.com/hocoschools/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
</li>

<li class="foot-social foot-social-vm">
  <a href="https://vimeo.com/hcpss" target="_blank"><i class="fab fa-vimeo" aria-hidden="true"></i></a>
</li>

<li class="foot-social foot-social-flickr">
  <a href="https://www.flickr.com/photos/hcpss" target="_blank"><i class="fab fa-flickr" aria-hidden="true"></i></a>
</li>

</ul>
</div>
</footer>

  {% if page.footer_first or page.footer_second %}
    <footer role="contentinfo">
      <div class="inner-footer">
        <div class="footer-first">
          {{ page.footer_first }}
        </div>
        <div class="footer-second">
          {{ page.footer_second }} 
        </div>     
      </div>
    </footer>
  {% endif %}

</div>{# /.layout-container #}
